body{
    background: #EBEBEB;
}
.page-header{
    text-align: center;
}

h1{
    color: white;
    background: #e85427;
    padding: 20px;
    margin-bottom: 0;
}

h2{

    padding-bottom: 5px;
    color: #e85427;
}



.thumbnail{
    padding:20px;
    display: table;
    margin: 0;
  }
  
  .thumbnail img {
    max-width: 100%;
  }
  
  .figcaption {
    caption-side: bottom;
    color: white;
    text-align: center;
    background-color: #e85427;
  }

@media screen and (min-width: 768px) {
  

    .page-header{
        text-align: left;
    }  
    
    .col{
        max-width: 800px;
    }

    .thumbnail img {
        max-width: 300px;
      }
    
